<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style_original.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/font-awesome.min.css' %}">
</head>
<body>
	<!-- Header -->
		<header class="header" id="HOME">
			<div class="header-overlay">
				{% include "blog/snippets/navbar.html" %}
				
				<!-- this is for the header image on the index page -->
				{% block header_content %}
				{% endblock header_content %}


				
			</div>
		</header>
	{% block content %}
	{% endblock content %}

</body>
</html>