<!-- header page -->
				<div class="container">
					<div class="header-content">
						<div class="row">
							<div class="col-md-6 offset-6">
								<div class="header-text">
									<h1>Interesting Ideas That Set Your Mind In Motion</h1>
									<p>Hear directly from the people who know it best. From tech to politics to creativity and more — whatever your interest, we’ve got you covered.</p>
								</div>
								<div class="header-buttons">
									<a href="#" class="btn btn-get-started">Get Started</a>
									<a href="#BLOG-HOME" class="btn btn-take-tour">Take Tour
									</a>
								</div>
							</div>
						</div>
					</div>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
				</div>