
<!-- navbar -->
				<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-default">
				  <a class="navbar-brand" href="/">Source</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
				      <a class="nav-item nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
				      <a class="nav-item nav-link" href="/creativity/">CREATIVITY</a>
				      <a class="nav-item nav-link" href="/technology/">TECHNOLOGY</a>
				      <a class="nav-item nav-link" href="/sports/">SPORTS</a>
				      <a class="nav-item nav-link" href="/more/">MORE</a>
				      <a class="nav-item nav-link" href="#LOGIN-SIGNUP">LOGIN/SIGNUP</a>
				    </div>
				  </div>
				</nav>